<div class="flex my-10 mx-auto flex-row-reverse justify-center">
    <div class="p-4 w-1/2 bg-white border border-gray-200rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-lg font-bold leading-none text-gray-500 dark:text-white">Explore projects</h2>
            <a routerLink="/explore" href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
            </a>
            <div class="flex justify-start">
                <app-project-filter (filter)="applyFilter($event)"></app-project-filter>
            </div>
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4" *ngFor="let project of filteredProjects | paginate: { itemsPerPage: 5, currentPage: p }">
                <app-card-project [project]="project"></app-card-project>
            </li>   
        </ul>
    </div>
    <pagination-controls class="flex items-center justify-center mt-10" (pageChange)="p = $event"></pagination-controls>
</div>
</div>