<a href="#"
  class="relative block overflow-hidden rounded-lg border border-gray-100 shadow-lg shadow-purple-200 p-4 sm:p-6 lg:p-8 transition hover:bg-gray-100"
  (click)="openProjectDetails(project)">
  <span class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

  <div class="sm:flex sm:justify-between sm:gap-4">
    <div>
      <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
        {{project.title}}
      </h3>

      <p class="mt-1 text-xs font-medium text-gray-600">{{project.owner.username}}</p>
    </div>

    <div class="hidden sm:block sm:shrink-0">
      <img alt="" src="../../assets/img/profile.png" class="size-16 rounded-lg object-cover shadow-sm" />
    </div>
  </div>

  <div class="mt-4">
    <p class="text-pretty text-sm text-gray-500">
      {{project.description}}
    </p>
  </div>
  <!-- <div class="flex justify-between items-center"> -->

    <dl class="mt-6 flex justify-between gap-4 sm:gap-6">
      <div class="flex flex-col-reverse">
        <dd class="text-sm font-medium text-gray-600">{{project.category}}</dd>
        <dt class="text-xs text-gray-500">Category</dt>

      </div>

      <div class="flex flex-col-reverse">
        <!-- <dt class="text-sm font-medium text-gray-600">{{project.category}}</dt> -->
        <!-- <dd class="text-xs text-gray-500">3 minute</dd> -->
      </div>

      <div class="flex flex-col-reverse justify-start  items-end">
        <dd class="text-xs text-gray-500">{{project.createdAt | date}}</dd>
        <dt class="text-sm font-medium text-gray-600">Created</dt>
      </div>

    </dl>
  <!-- </div> -->
</a>