<a (click)="openProjectDetails()"
  class="cursor-pointer relative block overflow-hidden bg-white border-gray-100 sm:p-2 transition hover:bg-gray-100">
  <!-- <app-project-details [project] = "project"/> -->
  <span class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

  <div class="sm:flex sm:justify-between sm:gap-4">
    <div>
      <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
        {{project.title}}
      </h3>
    <p class="mt-1 text-xs font-medium text-gray-600">Team lead: <mat-chip ><img matChipAvatar src="../../../assets/img/profile.png" alt="Photo of a Shiba Inu"/>{{project.owner.username}}</mat-chip></p>
    </div>

    <div class="hidden sm:block sm:shrink-0">
      <div class="circle">
        <p class="circle-inner">{{project.title | initials}}</p>
      </div>
    </div>
  </div>


  <div class="mt-2">
    <p class="text-pretty text-sm text-gray-500">
      {{project.description}}
    </p>
  </div>
  <!-- <div class="flex justify-between items-center"> -->

    <dl class="mt-6 mb-4 flex justify-between gap-4 sm:gap-6">

      <div class="flex flex-col justify-center items-center">
        <div class="flex justify-start">
          <strong
            class="-mb-[2px] -me-[2px] inline-flex items-center gap-1 rounded-ee-xl rounded-ss-xl px-3 py-1.5 text-white"
            [ngClass]="{
              'bg-green-500': project.category === 'Full-stack',
              'bg-blue-500': project.category === 'Backend',
              'bg-yellow-400': project.category === 'Frontend'
            }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
              />
            </svg>
      
            <span class="text-[10px] font-medium sm:text-xs">{{project.category}}</span>
          </strong>
        </div>
        
      </div>
      
      <div class="flex flex-col-reverse items-center">
        <dd class="text-sm font-medium text-gray-600">{{project.techStack | join }}</dd>
        <dt class="text-xs text-gray-500">Technology</dt>

      </div>

      <!-- <div class="flex flex-col-reverse"> -->
        <!-- <dt class="text-sm font-medium text-gray-600">{{project.category}}</dt> -->
        <!-- <dd class="text-xs text-gray-500">3 minute</dd> -->
      <!-- </div> -->

      <div class="flex flex-col-reverse justify-start  items-end">
        <dd class="text-xs text-gray-500">{{project.createdAt | date}}</dd>
        <dt class="text-sm font-medium text-gray-600">Created</dt>
      </div>

    </dl>
  <!-- </div> -->
</a>