<mat-toolbar color="primary" class="flex mx-auto justify-between items-center">
    <div class="flex items-center ">
        <div class="h-9 mr-2">
          <a routerLink="/"><img class='w-full h-full' src="../../assets/img/logo.svg" alt="Logo"></a>
        </div>
      <h1 class="ml-2"><a routerLink="/">Project Nexus &lt;/nX&gt;</a></h1>
    </div>
    <div class="flex items-center gap-2">
      <button mat-flat-button color="primary" routerLink="login">Login</button>
      <a href="https://github.com/milensski/project-nexus" target="_blank" mat-flat-button color="primary">
        <mat-icon>star_border</mat-icon>
        GitHub
      </a>
    </div>
  </mat-toolbar>