<mat-toolbar color="primary" class="flex mx-auto justify-between items-center">
    <div class="flex items-center ">
        <div class="h-9 mr-2">
        <img class='w-full h-full' src="../../assets/img/logo.svg" alt="Logo">
        </div>
      <h1 class="ml-2">Project Nexus &lt;/nX&gt;</h1>
    </div>
    <div class="flex items-center gap-2">
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-flat-button color="primary">Login</button>
      <button mat-flat-button color="primary">
        <mat-icon>favorite</mat-icon>
        GitHub
      </button>
    </div>
  </mat-toolbar>