<h1 mat-dialog-title class="text-center my-10" mat-dialog-title>{{project.title}} Details</h1>
<mat-dialog-content class="mat-typography">
  <div class="text-center">
      <h1 class="text-center block text-gray-700 font-semibold mb-1">Description:</h1>
      <p class="text-gray-900">{{ project.description }}</p>
    <hr class="mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <div class="mb-4">
      <span class="text-center block text-gray-700 font-semibold mb-1">Owner:</span>
      <p class="text-gray-900">{{ project.owner.username }}</p>
    </div>
    <hr class="mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <div class="mb-4">
      <span class="text-center block text-gray-700 font-semibold mb-1">Category:</span>
      <p class="text-gray-900">{{ project.category }}</p>
    </div>
    <hr class="mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <div class="mb-4">
      <span class="text-center block text-gray-700 font-semibold mb-1">Created:</span>
      <p class="text-gray-900">{{ project.createdAt | date }}</p>
    </div>
    <hr class="mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <div class="mb-4">
      <div class="flex items-center justify-center mb-12">
        <span class="block text-gray-700 font-semibold mr-2">Participants:</span>
        <div class="list-none pl-6 flex items-center">
          <div *ngFor="let participant of project.participants" class="justify-center items-center text-gray-900 mr-4">
            {{ participant.username }}
          </div>
        </div>
      </div>
      <button  *ngIf="isLogged" mat-raised-button class="p-4" [color]="isParticipant ? 'warn' : 'accent'" (click)="isParticipant ? leaveProject() : joinProject()">
        <mat-icon>{{ isParticipant ? 'exit_to_app' : 'person_add' }}</mat-icon>
        <span>{{ isParticipant ? 'Leave' : 'Join' }}</span>
      </button>
    </div>
    <div *ngIf="!isLogged" class="text-grey-dark mt-6 text-center text-red-700 ">
      If you want to participate please 
      <a class="underline text-cyan-700 font-semibold" routerLink="/auth/login" mat-dialog-close>
          Log in
      </a>.
  </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>