<h1 mat-dialog-title class="text-center my-10" mat-dialog-title>{{project.title}} Details</h1>
<mat-dialog-content class="mat-typography">
  <div class="text-center">
    <div class="mb-4">
    <span class="text-center block text-gray-700 font-semibold mb-1">Team Lead:</span>
    <p class="text-gray-900"><mat-chip ><img matChipAvatar src="../../../assets/img/profile.png" alt="user photo"/>{{project.owner.username}}</mat-chip></p>
    </div>
    
    <hr class="mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <div class="flex flex-col items-center justify-center">
    <div class="mb-4 w-96 text-center">
      <h2 class="text-center block text-gray-700 font-semibold mb-1">Description:</h2>
      <p class="text-gray-900">{{ project.description }}</p>
    </div>
  </div>
    <hr class="mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <div class="mb-4 flex items-center justify-center gap-10">
      <div class="flex flex-col">
      <span class="text-center block text-gray-700 font-semibold mb-1">Category:</span>
      <p class="text-gray-900">{{ project.category }}</p>
      </div>
      <div class="flex flex-col">
      <span class="text-center block text-gray-700 font-semibold mb-1">Technologies:</span>
      <p class="text-gray-900">{{ project.techStack | join : 'technologyName' }}</p>
      </div>
    </div>
    <hr class="mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <div class="mb-4">
      <span class="text-center block text-gray-700 font-semibold mb-1">Created:</span>
      <p class="text-gray-900">{{ project.createdAt | date }}</p>
    </div>
    <hr class="mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <div class="flex justify-center items-center">
      <div class="flex-col items-center justify-center mb-12">
        <span class="block text-gray-700 font-semibold mr-2">Participants:</span>
        <div class="list-none pl-6 mt-4 flex items-center">
          <div *ngFor="let participant of project.participants" class="justify-center items-center text-gray-900 mr-4">
            {{ participant.username }}
          </div>
        </div>
      </div>
    </div>
    <hr class="mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <div class="mb-4 flex justify-center gap-4">
      <button  *ngIf="isLogged" mat-raised-button class="p-4" [color]="isParticipant ? 'warn' : 'accent'" (click)="isParticipant ? leaveProject() : joinProject()">
        <mat-icon>{{ isParticipant ? 'exit_to_app' : 'person_add' }}</mat-icon>
        <span>{{ isParticipant ? 'Leave' : 'Join' }}</span>
      </button>
      <button routerLink="project/{{project.id}}/edit" *ngIf="isOwner" mat-raised-button class="p-4" color="primary">
        <mat-icon>edit</mat-icon>
        <span  mat-dialog-close >Edit</span>
      </button>
      <button  *ngIf="isOwner" (click)="deleteProject()" mat-raised-button class="p-4" color="primary">
        <mat-icon>delete</mat-icon>
        <span  mat-dialog-close >Delete</span>
      </button>
      <button mat-raised-button class="p-4" mat-dialog-close>
        <mat-icon>close</mat-icon>
        <span>Close</span>
      </button>
    </div>
    <div *ngIf="!isLogged" class="text-grey-dark mt-6 text-center text-red-700 ">
      If you want to participate please 
      <a class="underline text-cyan-700 font-semibold" routerLink="/auth/login" mat-dialog-close>
          Log in
      </a>.
  </div>
  </div>
</mat-dialog-content>

<!-- <mat-dialog-actions align="end">
  <button mat-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions> -->