
<div (click)="openDialog()" class="text-center text-sm text-grey-dark mt-4">
    <label 
      class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-200 p-4 transition hover:bg-sky-100 has-[:checked]:bg-blue-50">
      <div class="flex items-center">
        &#8203;
        <mat-checkbox [disabled]="true" [checked]="isAccepted"></mat-checkbox>
        <button class="no-underline border-b border-grey-dark text-cyan-600" >Terms of Service and Privacy Policy</button>       
      </div>
    </label>
  </div>