<div class="min-h-full p-6 bg-gray-100 flex items-start justify-center">
    <div class="container max-w-screen-lg mx-auto my-10">
        <div>
            <h2 class="font-semibold text-xl text-gray-600">Create project</h2>
            <p class="text-gray-500 mb-6">Transform Your Vision into Reality: Ignite Your Passion</p>

            <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                    <div class="text-gray-600">
                        <p class="font-medium text-lg">Details</p>
                        <p>Please fill out all the fields.</p>
                    </div>

                    <div class="lg:col-span-2">
                        <form [formGroup]="form">
                            <div class="grid gap-4 gap-y-2 text-md grid-cols-1 md:grid-cols-5">
                                <div class="relative mb-8 md:col-span-3">
                                    <input type="text" id="title" name="title" formControlName="title" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1
                          appearance-none dark:text-white" placeholder=""
                                        [ngClass]="{'border-red-600 dark:border-red-500 focus:border-red-600': form.get('title')?.touched && form.get('title')?.errors}" />
                                    <label for="title" class="absolute text- font-medium text-gray-500 dark:text-gray-400 duration-300 
                                    transform -translate-y-4 scale-85 top-2 z-10 origin-[0] bg-white
                                     dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600
                                      peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 
                                      peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 
                                      rtl:peer-focus:left-auto start-1">Title</label>
                                    <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"
                                        *ngIf="form?.get('title')?.touched && form?.get('title')?.errors">
                                        <span class="font-medium">*</span> {{
                                        form.get('title')?.errors?.['required']?.message ||
                                        'Title is required and must be more than 5 characters' }}
                                    </p>
                                </div>

                                <div class="relative mb-8 md:col-span-5">
                                    <textarea rows="3" id="description" name="description" formControlName="description"
                                        class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1
                          appearance-none dark:text-white" placeholder=""
                                        [ngClass]="{'border-red-600 dark:border-red-500 focus:border-red-600': form.get('description')?.touched && form.get('description')?.errors}"></textarea>
                                    <label for="description" class="absolute text-sm font-medium text-gray-500 dark:text-gray-400 duration-300 
                                    transform -translate-y-4 scale-85 top-2 z-10 origin-[0] bg-white
                                     dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600
                                      peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 
                                      peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 
                                      rtl:peer-focus:left-auto start-1">Description</label>
                                    <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"
                                        *ngIf="form?.get('description')?.touched && form?.get('description')?.errors">
                                        <span class="font-medium">*</span> {{
                                        form.get('description')?.errors?.['required']?.message ||
                                        'Description is required' }}
                                    </p>
                                </div>

                                <div class="md:col-span-3">
                                    <label for="category"
                                        class="block mb-2 text-sm font-medium text-gray-500 dark:text-white">Select a
                                        category</label>
                                    <select id="category" name="category" formControlName="category"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option [value]="null" selected>Choose a category</option>
                                        <option *ngFor="let category of categories" [value]="category.id">
                                            {{category.name}}</option>
                                    </select>
                                    <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"
                                        *ngIf="form?.get('category')?.touched && form?.get('category')?.errors">
                                        <span class="font-medium">*</span> {{
                                        form.get('category')?.errors?.['required']?.message ||
                                        'Category is required' }}
                                    </p>
                                </div>

                                <div class="md:col-span-5 mt-4">
                                    <app-techk-stack-autocomplete
                                        (techStackSelected)="onTechStackSelected($event)"></app-techk-stack-autocomplete>
                                    <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"
                                        *ngIf="form?.get('techStackNames')?.touched && form?.get('techStackNames')?.errors">
                                        <span class="font-medium">*</span> {{
                                        form.get('techStackNames')?.errors?.['required']?.message ||
                                        'Technology is required' }}
                                        </p>
                                </div>

                                {{form.value | json}}




                            </div>
                        </form>

                        <div class="md:col-span-5 text-right">
                            <div class="inline-flex items-end">

                                <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit"
                                    (click)="onSubmit()">

                                    <mat-icon>add</mat-icon>
                                    <span class="pl-2 mx-1">Create new project</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>