
<div class="w-96 h-40 rounded shadow-md bg-white p-4">
    <h3 class="text-xl text-gray-400 uppercase">Quick actions</h3>
    <p class="font-light cursor-pointer text-md text-center text-blue-600 flex "><a class="flex items-center" (click)="openProjectDetails()" >View Last project<mat-icon>keyboard_arrow_right</mat-icon></a></p>
    <p class="font-light cursor-pointer text-md text-center text-blue-600 flex "><a class="flex items-center" routerLink="/project/manage">Manage projects<mat-icon>keyboard_arrow_right</mat-icon></a></p>
</div>
