<section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700">
    <div class="container h-full p-10 m-auto">
      <div
        class="flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
        <div class="w-full">
          <div
            class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
            <div class="g-0 lg:flex lg:flex-wrap">
              <!-- Left column container-->
              <div class="px-4 md:px-0 lg:w-6/12">
                <div class="md:mx-6 md:p-12">
                  <!--Logo-->
                  <div class="text-center">
                    <a routerLink="/"><img
                      class="mx-auto w-48"
                      src="../../../assets/img/logo.svg"
                      alt="logo" /></a>
                    <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                      Project Nexus
                    </h4>
                  </div>
  
                  <form #form="ngForm" (ngSubmit)="login(form)">
                    <p class="relative mb-6 font-semibold">Please login to your account</p>
                    <!--Username input-->
                    <div class="relative mb-6" data-twe-input-wrapper-init>
                      <input
                        type="text"
                        class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1
                        appearance-none dark:text-white"
                        id="username"
                        name="username"
                        ngModel
                        #inputUsername="ngModel"
                        placeholder="" />
                      <label
                        for="username"
                        class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-80 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
                        >Username
                      </label>
                    </div>
  
                    <!--Password input-->
                    <div class="relative mb-4" data-twe-input-wrapper-init>
                      <input
                        type="password"
                        name="password"
                        class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1
                        appearance-none dark:text-white"
                        id="password"
                        ngModel
                        #inputPassword="ngModel"
                        placeholder="" />
                      <label
                        for="password"
                        class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-80 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
                        >Password
                      </label>
                    </div>
  
                    <!--Submit button-->
                    <div class="mb-12 pb-1 pt-1 text-center">
                      <button
                        class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-dark-3 transition duration-150 ease-in-out hover:shadow-dark-2 focus:shadow-dark-2 focus:outline-none focus:ring-0 active:shadow-dark-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                        type="submit"
                        data-twe-ripple-init
                        data-twe-ripple-color="light"
                        style="
                          background: linear-gradient(to right, #8c24ee, #36a5d8);
                        ">
                        Log in
                      </button>
  
                      <!--Forgot password link-->
                      <a href="#!">Forgot password?</a>
                    </div>
                  </form>
                    <!--Register button-->

                  <div class="flex items-center justify-center pb-6">
                    <p class="mb-0 me-2">Don't have an account? <a routerLink="/auth/register" class="underline text-cyan-700 font-semibold" >Register</a></p>
                  </div>
                </div>
              </div>
  
              <!-- Right column container with background and description-->
              <div
  class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-e-lg lg:rounded-bl-none"
  style="background: linear-gradient(to right, #8c24ee, #36a5d8)">
  <div class="px-4 py-6 text-white md:mx-6 md:p-12">
    <h4 class="mb-6 text-4xl font-bold">
      We are more than just a product
    </h4>
    <p class="text-lg">
    Project Nexus is not just a platform; it's a community of innovators, dreamers, and doers. We believe in the power of collaboration to drive positive change and create a better future. Together, we can turn ideas into reality, solve complex problems, and make a lasting impact on the world. Join us on this journey of discovery, growth, and transformation.
    </p>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>