<h2 mat-dialog-title>Project Nexus - Terms and Conditions</h2>
<mat-dialog-content class="mat-typography">
    <h2>1. Eligibility</h2>
    <p>You represent and warrant that you are at least [Minimum Age] years old and able to enter into legally binding contracts. If you reside outside the United States, you are responsible for ensuring that your use of our Application complies with the laws of your country.</p>
    
    <h2>2. User Accounts</h2>
    <p>To use certain features of our Application, you may need to create an account ("Account"). You are responsible for maintaining the confidentiality of your Account and password, and you are solely responsible for any activities that occur under your Account. We reserve the right to suspend, terminate, or delete your Account at any time for any reason or no reason.</p>
    
    <h2>3. Website Content</h2>
    <p>Our Application contains various copyrighted materials, trademarks, and other proprietary information ("Content"). You may not copy, modify, distribute, transmit, display, perform, or otherwise use any such Content without our prior written permission. You may download and print a single copy of any Content for your personal, non-commercial use, subject to the restrictions set forth in these Terms.</p>
    
    <h2>4. User Generated Content</h2>
    <p>If you contribute any content to our Application, including but not limited to text, images, audio, or video ("User Generated Content"), you represent and warrant that you own all rights in such User Generated Content and have the right to grant us a worldwide, non-exclusive, transferable, perpetual, irrevocable, royalty-free, and fully sub-licensable license to use, reproduce, modify, adapt, publish, translate, create derivative works from, publicly perform, and publicly display such User Generated Content in any and all media or distribution method now known or later developed.</p>
    
    <h2>5. Conduct and Prohibited Activities</h2>
    <p>You agree not to use our Application to:</p>
    <ul>
        <li>Harass, abuse, threaten, stalk, defame, or otherwise violate the legal rights (such as rights of privacy and publicity) of others;</li>
        <li>Publish, post, upload, email, or otherwise make available any inappropriate, profane, obscene, unlawful, harmful, or offensive content;</li>
        <li>Solicit or promote any illegal activities;</li>
        <li>Use automated scripts to scrape, data mine, or otherwise tamper with our Application;</li>
        <li>Interfere with or disrupt the Application or servers or networks connected to the Application, or disobey any rules, policies, or guidelines established by us;</li>
        <li>Violate any third party's rights, including any intellectual property rights.</li>
    </ul>
    <p>We reserve the right to monitor your use of our Application and to block or terminate your access if we determine that you have violated these Terms or any applicable laws or regulations.</p>
    
    <h2>6. Fees and Payments</h2>
    <p>Our Application may offer certain premium features or services for a fee. We will provide you with information about the fees and payment options before you purchase any premium features or services. We may change the fees and payment options at any time, and we will provide you with advance notice of any changes.</p>
    
    <h2>7. Refunds and Cancellations</h2>
    <p>We do not offer refunds for any purchases made on our Application. However, if you have any issues with your purchase, please contact us at [Email Address] so that we can attempt to resolve them.</p>
    
    <h2>8. Disclaimers</h2>
    <p>Our Application is provided "as is" and without any warranties, express or implied. We disclaim all warranties and conditions, whether statutory or otherwise, including but not limited to any warranties of title, non-infringement, accuracy, merchantability, or fitness for a particular purpose. We shall not be liable for any damages, losses, or costs of any kind arising out of your use of our Application, except to the extent caused by our gross negligence or intentional misconduct.</p>
    
    <h2>9. Changes to Terms and Conditions</h2>
    <p>We reserve the right to modify these Terms at any time without prior notice. Your continued use of our Application after any modifications constitutes your acceptance of the modified Terms. It is your responsibility to review these Terms periodically and to cease using our Application if you do not accept any modifications.</p>
    
    <h2>10. Governing Law and Jurisdiction</h2>
    <p>These Terms shall be governed by and construed in accordance with the laws of [Jurisdiction], excluding its conflict of law principles. Any dispute arising out of or relating to these Terms shall be exclusively jurisdiction of the courts of [Jurisdiction].</p>
    
    <h2>11. Contact Information</h2>
    <p>If you have any questions or concerns regarding these Terms, please contact us at <a class="text-cyan-700 underline" href="mailto:milen.palachorov@gmail.com">milen.palachorov&#64;gmail.com</a></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Accept</button>
</mat-dialog-actions>
