/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-spinner {
    margin: 0 auto;
}


.circle {
    display: inline-block;
      background-color: #6602ae;
      border-radius: 50%;
  }
  
  .circle-inner {
    color: white;
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    text-decoration: none;
    height: 70px;
    width: 70px;  
    font-size: 24px;
  }
  .custom-filter-chips .mat-mdc-standard-chip {
    --mdc-chip-elevated-container-color: #d9d9d9;
  } 

  .mat-mdc-standard-chip {
    --mdc-chip-elevated-container-color: #fdeb90; 

  }
