<div class="bg-neutral-200 min-h-screen flex flex-col">
  <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
      <!-- LOGO -->
      <div class="text-center">
        <a routerLink="/"><img class="mx-auto w-24" src="../../../assets/img/logo.svg" alt="logo" /></a>
        <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
          Project Nexus
        </h4>
        <h1 class="mb-8 text-3xl text-center">Register</h1>
        <form [formGroup]="form" (ngSubmit)="register()">
          <p class="relative mb-6 font-semibold text-center">Please fill out the form</p>
          <!--Username input-->
          <div class="relative mb-4" data-twe-input-wrapper-init>
            <input type="text"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
              id="username" name="username" placeholder="Username" formControlName="username" />
            <label for="username"
              class="pointer-events-none absolute left-1 top-[-0.6rem] mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">Username
            </label>
          </div>

          <!--Email-->

          <div class="relative mb-4" data-twe-input-wrapper-init>
            <input type="email"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
              id="email" name="email" placeholder="Email" formControlName="email" />
            <label for="email"
              class="pointer-events-none absolute left-1 top-[-0.5rem] mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">Email
            </label>
          </div>
          <ng-container formGroupName="passGroup">
            <!--Password input-->
            <div class="relative mb-4" data-twe-input-wrapper-init>
              <input type="password"
                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                id="password" name="password" placeholder="Password" formControlName="password" />
              <label for="password"
                class="pointer-events-none absolute left-1 top-[-0.5rem] mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">Password
              </label>
            </div>
            <!--RePassword input-->
            <div class="relative mb-4" data-twe-input-wrapper-init>
              <input type="password"
                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                id="rePassword" name="rePassword" placeholder="Repeat password" formControlName="rePassword" />
              <label for="rePassword"
                class="pointer-events-none absolute left-1 top-[-0.5rem] mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">Re-Password
              </label>
              <ng-container *ngIf="passGroup?.get('rePassword')?.touched">
                <p class="error" *ngIf="passGroup?.errors?.['matchPasswordsValidator'] || 
                      passGroup?.get('rePassword')?.errors?.['required']">
                  Passwords does not match!
                </p>
              </ng-container>
            </div>

          </ng-container>
        </form>

        <div class="text-center text-sm text-grey-dark mt-4">
          <label for="Option1"
            class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-200 p-4 transition hover:bg-sky-100 has-[:checked]:bg-blue-50">
            <div class="flex items-center">
              &#8203;
              <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" [disabled]="true"
                [checked]="termsAccepted" id="Option1" />
            </div>
            <app-privacy-dialog (termsAccepted)="onTermsAccepted($event)"></app-privacy-dialog>
          </label>
        </div>

        <div class="text-center text-sm text-red-600 mt-4 mb-3" *ngIf="!termsAccepted">Please review and accept our terms and
          privacy</div>
        <button [disabled]="!termsAccepted" mat-flat-button color="primary" type="submit"
          class="w-full text-center py-3 rounded bg-green text-white hover:bg-green-dark focus:outline-none my-1">Create
          Account</button>


      </div>

      <div class="text-grey-dark mt-6 text-center">
        Already have an account?
        <a class="underline text-cyan-700 font-semibold" routerLink="/auth/login">
          Log in
        </a>.
      </div>
    </div>
  </div>